{{> head }}

{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Bosque</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error vel autem perferendis aut magni ipsum omnis, nulla aliquam modi corrupti alias quisquam odio! Iste blanditiis dolorem totam vel quaerat. Nostrum!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/bosque.jpg" class="img-fluid" alt="">
    </div>
</div>
{{> footer }}